@import "../../vars/colors/index.scss";

@mixin flex_defaults() {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

@mixin contentContainer() {
  position: absolute;
  top: 40vh;
  width: 100vW;
  height: calc(100vh - 40vh);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@mixin infoContentTxt() {
  margin-bottom: 0.3em;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.2em;

}

@mixin infoContent($c) {
  $infoPadding: 2em;
  color: $c;
  padding: $infoPadding;
  width: calc(100vW - 2 * 2em);
  height: calc(100vh - 40vh - 2 * 2em);
  svg {
    fill: color;
  }
  h3 {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 0.5em;
  }
  h4 {
    font-size: 3em;
    font-weight: lighter;
  }
  p {
    @include infoContentTxt();
  }
  &.detail {
    font-size: 1.3em;
    display: flex;
  }
  a {
    color: $c;
  }
  &.back {
    position: absolute;
    line-height: 0;
    right: 5.5em;
    top: 0.9em;
  }
  &.btn {
    color: $white;
  }
  header {
    flex: 1;
  }
  section {
    flex: 3;
  }
  footer {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  a {
    @include infoContentTxt()
  }
  .btn {
    margin: 0;
    padding: 0.3em 1em;
  }
}
