<template>
	<div id="app" class="app" v-bind:class="idleClass">
		<router-view></router-view>
	</div>
</template>

<script>
	/**
	 * Import Dependency
	 */
	import { mapGetters } from 'vuex'
	// import { getTokenExpiredBox, setTimer, clearTimer } from './helpers'

	/**
	 * Import Component
	 */

	export default {
		name: 'app',
		components: {
		},
		data() {
			return {
				loadingStatus: '',
				alertStatus: {},
				intervalId: '',
        idle: false
			}
		},
		computed: {
			...mapGetters([
				'getIsAuthorize',
				'getAccessToken'
			]),
      idleClass: function() { return this.idle ? 'app-idle' : '' }
		},
		created() {
			this.$bus.$on('isLoading', (event) => {
				this.loadingStatus = event
			})
			this.$bus.$on('alertObj', (event, type) => {
				console.log(event + type)
			})
		},
		methods: {

		},
    onIdle() {
      this.idle = true
      // this.$socket.emit('BRIGHTNESS', 0)
    },
    onActive() {
      this.idle = false
      // this.$socket.emit('BRIGHTNESS', 254)
    }
	}
</script>

<style lang="scss">

</style>
