<template>
	<div class="page dashboard" v-bind:class="getShowing">
    <tana></tana>
	</div>
</template>

<script>
	/**
	 * Import Component
	 */
  import Tana from '../../components/tana/index.vue'

	/**
	 * Export
	 */
	export default {
		name: 'dashboard',
		components: {
      'tana': Tana
		},
		data() {
			return {

			}
		},
    computed: {
      getShowing: function() {
        return this.$store.state.showing
      }
    }
	}
</script>
