/**
 * Globals
 */
@import "../vars/index.scss";
@import "../reset/index.scss";
global-reset()

a {
  cursor: pointer;
}

body {
  background: #000000;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  color: $white;
}

h1,h2,h3,h4,h5,p {
  margin:0;
  padding:0;
}

.app {
  // background: #ededed;
  &.app-idle {
    // opacity: 0.2;
  }
}
